@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Condensed');

body{
	background: url("../images/diamond_dog.jpg");
	background-size: cover;
	font-weight: bold;
	color: #FFFFFF;
	font-family: Lato;
	line-height: 1.5em;
}
h1{
	font-size: 50px;
}

li{
list-style-type: square;
}

#slogan{
	font-style: italic;
}
#description{

}
.sidepanel{
	text-align: center;
	width:384px; 
	height: 900px;
	background-color: rgba(0,0,0,.3);
}
hr{
	width:200px;
}
ul{
	text-align: left;
}
a{
	text-align: center;
	position: absolute;
    bottom: 40px;
    left: 160px;
    color: #FFFFFF;
}